<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
      <li>add more...</li>
    </ul>
    <li>Fruits</li>
    <li>Vegetables</li>
    <li>Meat</li>
    <li>and many more...</li>
    <ul>

    </ul>
  </body>
</html>